<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script th:src="@{/js/ajax.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.css" integrity="sha512-/D4S05MnQx/q7V0+15CCVZIeJcV+Z+ejL1ZgkAcXE1KZxTE4cYDvu+Fz+cQO9GopKrDzMNNgGK+dbuqza54jgw==" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>

<div class="row" style="margin: 5px">
    <button style=" float: right; right: 0px; width: 250px;border: 1px solid black;padding: 10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUser">
        Create User
    </button>
    <table class="table table-striped " >
        <thead>
        <tr>
            <th scope="row" >#</th>
            <th class=" ">Name</th>
            <th  class=" ">Salary</th>
            <th  class=" ">Action</th>
        </tr>
        </thead>
        <tbody id="listEmployee">
        <tr th:each="user:${list}" >
            <th scope="row">1</th>
            <td th:text="${user.name}" th:id="'user_name_'+${user.id}" class=""></td>
            <td th:text="${user.salary}" th:id="'user_full_name_'+${user.id}"  class=""></td>
            <td class="">
                <ul class="list-inline m-0">
                    <li class="list-inline-item">
                        <button class="btn btn-success btn-sm rounded-0" th:onclick="'showuser(' + ${user.id} +')'"  data-toggle="modal" data-target="#view_userModel" type="button"  title="Edit"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-danger btn-sm rounded-0" th:onclick="'delete_user(' + ${user.id} +')'" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal view user detail -->
<div class="modal fade" id="view_userModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user_name_modal">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <p hidden="hidden" id="idUpdateUser"></p>
            <div class="modal-body">
                <label ><b>Full Name</b></label>
                <input type="text" id="user_full_name_modal"  required>
                <br>
                <label ><b>Email</b></label>
                <input type="email" id="user_email_modal" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="updateUser()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal create User-->
<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form  class="modal-content animate"  >
                    <div style="padding: 16px">
                        <label ><b>Name</b></label>
                        <input id="username_create_frm" type="text" placeholder="Enter Username" required class="input-form-create-user">
                        <br>
                        <label ><b>Salary</b></label>
                        <input id="fullname_create_frm" type="text" placeholder="Enter Full name" required class="input-form-create-user" >

                        <button type="button" onclick="createUser()" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript">
</script>
</body>

</html>